---
import {Image, Picture} from "astro:assets";

import {getCollection} from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";

import LayoutIndex from "../layouts/index.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.published_date.valueOf() - a.data.published_date.valueOf(),
);

const art = posts.filter((post) => {
  return post.data.category === 'images'
});
---

<LayoutIndex>
  <section class="hot">
    <div class="container xxl">
      <div class="grid">
        <div class="primary">
          {
            posts.slice(0, 1).map((post) => {
              return (
                  <div>
                    <a href={`/${post.slug.substring(5)}/`} class="link">
                      {post.data?.image?.url &&
                          <Image
                              class="hot_image"
                              src={post.data.image.url}
                              alt={post.data.image.alt}
                          />
                      }
                      <span class="title">{post.data.title}</span>
                      <span class="date">
                        <FormattedDate date={post.data.published_date}/>
                      </span>
                    </a>
                  </div>
              );
            })
          }
        </div>
        <div class="secondary">
          {
            posts.slice(1).map((post) => {
              return (
                  <div>
                    <a href={`/${post.slug.substring(5)}/`} class="link">
                      <span class="title">{post.data.title}</span>
                      <p class="date">
                        <FormattedDate date={post.data.published_date}/>
                      </p>
                    </a>
                  </div>
              );
            })
          }
        </div>
      </div>
    </div>
  </section>

  <section class="art">
    <div class="container xxl">
      <div class="grid">
        {
          art.map((post) => {

            if (post.data?.image) {
              return (
                  <div>
                    <a href={`/${post.slug.substring(5)}/`} class="link">
                      <Image
                          width={330}
                          height={250}
                          aspectRatio={1.3333333333333333}
                          src={post.data.image.url}
                          alt={post.data.image.alt}
                      />
                    </a>
                  </div>
              );
            }
          })
        }
      </div>
    </div>
  </section>
</LayoutIndex>

<style lang="scss">
  @use "sass:list";
  @use "sass:string";
  @use "sass:meta";
  @use "sass:map";

  @use "../styles/app.scss" as app;
  @use "../styles/scss/mixins.scss" as mixins;
  @use "../styles/scss/functions.scss" as functions;

  // --- hot section --- //

  $hot-section: (
    margin: 25px 0,
    subclasses: (
      ".grid": (
        display: grid,
        width: 100%,
        grid-template-columns: 1fr,
        grid-auto-rows: auto,
        grid-gap: 0,
        responsive: (
          md: (
            grid-template-columns: 2.5fr 1.5fr,
            grid-gap: 1rem,
          ),
        ),
        subclasses: (
          ".hot_image" : (
            display: block,
            height: 400px,
          ),
          ".link": (
            text-decoration: none,
            subclasses: (
              "&:hover": (
                text-decoration: none,
              ),
              ".title": (
                font-size: 2rem,
              ),
            ),
          ),
        ),
      ),
    ),
  );

  @include mixins.generate-component(
      $hot-section,
      "hot",
      app.$config,
      app.$theme
  );

  // --- art section --- //

  $art-section: (
    margin: 25px 0,
    subclasses: (
      ".grid": (
        display: grid,
        width: 100%,
        grid-template-columns: 1fr 1fr,
        grid-auto-rows: auto,
        grid-gap: 1rem,
        responsive: (
          md: (
            grid-template-columns: 1fr 1fr 1fr 1fr,
            grid-gap: 1rem,
          ),
        ),
        subclasses: (
          ".link" : (
            display: block,
          )
        )
      )
    ),
  );

  @include mixins.generate-component(
      $art-section,
      "art",
      app.$config,
      app.$theme
  );
</style>
