---
import {Image} from 'astro:assets';
import {words_limit} from '~/utils/text';
import FormattedDate from '~/components/FormattedDate.astro';

const {posts} = Astro?.props
---

<div class="sidebar">
    <div class="posts">
        {posts.map((post) => {
            return (
                    <a href={`/${post.id.substring(
                        5)}/`} class="post" title={post.data.title}>
                                    <span>
                                    <Image
                                            class="image"
                                            width={330}
                                            aspectRatio={1.3333333333333333}
                                            src={post.data.image.url}
                                            alt={post.data.image.alt}
                                    />
                                    </span>
                        <span>
                                        <span class="title">{post.data.title}</span>
                            {post.data?.description &&
                                    <span class="description">{words_limit(post.data.description, 15, {
                                        appendEllipsis: true
                                    })}</span>
                            }
                            <span class="date"><FormattedDate date={post.data?.published_date}/></span>
                                    </span>
                    </a>
            )
        })}
    </div>
</div>

<style lang="scss">
  @use "sass:list";
  @use "sass:string";
  @use "sass:meta";
  @use "sass:map";

  @use "~/styles/app.scss" as app;

  $sidebar: (
    /***/
    _subclasses : (
      /***/
      '.posts' : (
        _subclasses : (
          /***/
          '.post' : (
            display: grid,
            grid-template-columns: 150px 1fr,
            grid-gap: 1rem,
            margin: 0 0 15px 0,
            /***/
            _subclasses : (
              '.image' : (
                display: block,
                margin: 0 0 10px 0,
                border-radius: 0.5rem,
                box-shadow: string.unquote('rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.1) 0px 2px 4px -2px'),
              ),
              '.title' : (
                display: block,
                margin: 0 0 10px 0,
                font-size: 1.25rem,
              ),
              '.description' : (
                display: block,
                margin: 0 0 10px 0,
              ),
              '.date' : (
                display: block,
                font-size: 0.825rem,
                color: #959595,
              )
            )
          )
        )
      )
    )
  );

  @include app.generate-component(
      $sidebar,
      'sidebar',
      app.$config,
      app.$theme
  );
</style>
