---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.

interface Props {
    title: string;
    description: string;
    featured_image?: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const {title, description, featured_image = "/blog-placeholder-1.jpg"} = Astro.props;
---

<!-- Global Metadata -->
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width,initial-scale=1"/>
<link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
<meta name="generator" content={Astro.generator}/>

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL}/>

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title}/>
<meta name="description" content={description}/>
<meta http-equiv="Content-Security-Policy"/>

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website"/>
<meta property="og:url" content={Astro.url}/>
<meta property="og:title" content={title}/>
<meta property="og:description" content={description}/>
<meta property="og:image" content={new URL(featured_image, Astro.url)}/>

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image"/>
<meta property="twitter:url" content={Astro.url}/>
<meta property="twitter:title" content={title}/>
<meta property="twitter:description" content={description}/>
<meta property="twitter:image" content={new URL(featured_image, Astro.url)}/>

<!-- Sitemap -->
<link rel="sitemap" href="/sitemap-index.xml"/>

<!-- Styles -->
<style lang="scss" is:global>
  @use "sass:list";
  @use "sass:meta";

  // ↓ Config
  @use "~/styles/app.scss" as app;

  // ↓ Root
  @use "~/styles/scss/root" with (
    $config: app.$config,
    $theme: app.$theme
  );

  // Great reset
  @use "~/styles/scss/reset" with (
    $config: app.$config,
    $theme: app.$theme
  );

  // Base
  // Special utility, that will dynamically generate CSS
  // properties for HTML tags, specified in theme
  @use "~/styles/scss/base" with (
    $config: app.$config,
    $theme: app.$theme
  );

  // ↓ Amazing content
  @use "~/styles/scss/content" with (
    $config: app.$config,
    $theme: app.$theme
  );

  // ↓ Container
  @use "~/styles/scss/components/container" with (
    $config: app.$config,
    $theme: app.$theme
  );

  // ↓ Navigation bar
  @use "~/styles/scss/components/navbar" with (
    $config: app.$config,
    $theme: app.$theme
  );

  // ↓ Nav
  @use "~/styles/scss/components/nav" with (
    $config: app.$config,
    $theme: app.$theme
  );

  // ↓ Card
  @use "~/styles/scss/components/card" with (
    $config: app.$config,
    $theme: app.$theme
  );

  // ↓ Badge
  @use "~/styles/scss/components/badge" with (
    $config: app.$config,
    $theme: app.$theme
  );
</style>
