---
import {getCollection} from 'astro:content';
import CategoryLayout from "../../layouts/category.astro";
import {Image} from "astro:assets";

export async function getStaticPaths() {

    const posts = (await getCollection('blog')).sort(
        (a, b) => b.data.published_date.valueOf() - a.data.published_date.valueOf(),
    );

    const categories = await getCollection('categories');

    return categories.map((category) => {

        return {
            params: {category: category.id},
            props: {
                posts: posts.filter((post) => {
                    return post.data.categories.some(cat => cat.id === category.id);
                })
            },
        }
    });
}

const {posts} = Astro.props;
const {category} = Astro.params;

// console.log(posts);
---

<CategoryLayout>
    <div class="categories">
        <div class="container xxl">
            <div class="category_name">
                <div>
                    <div>
                        CATEGORY
                    </div>
                    <div class="title">
                        {category}
                    </div>
                </div>
            </div>
            <div class="grid">
                <div class="posts">
                    {
                        posts.map((post) => {

                            // @TODO fix line-height font issue

                            return (
                                    <div class="post">
                                        {post.data.image?.url &&
                                                <div class="image">
                                                    <a href={`/${post.id.substring(5)}/`} title={post.data.title}>
                                                        <Image src={post.data.image?.url} alt={'11'} class="image"
                                                               width={250}
                                                               fit={'cover'}
                                                        />
                                                    </a>
                                                </div>
                                        }
                                        <div class="information">
                                            <h3>
                                                <a href={`/${post.id.substring(5)}/`} title={post.data.title}
                                                   class="title">
                                                    {post.data.title}
                                                </a>
                                            </h3>
                                            <div>
                                                <span class="description">{post.data.description}</span>
                                                <time class="date" datetime={post.data.published_date.toISOString()}>
                                                    {
                                                        post.data.published_date.toLocaleDateString('en-us', {
                                                            year: 'numeric',
                                                            month: 'short',
                                                            day: 'numeric',
                                                        })
                                                    }
                                                </time>
                                            </div>
                                        </div>

                                    </div>
                            )
                        })
                    }
                </div>
                <div class="sidebar">
                    2
                </div>
            </div>
        </div>
    </div>
</CategoryLayout>

<style lang="scss">
  @use "sass:list";
  @use "sass:string";
  @use "sass:meta";
  @use "sass:map";

  @use "../../styles/app.scss" as app;

  @use "../../styles/scss/mixins.scss" as mixins;
  @use "../../styles/scss/functions.scss" as functions;

  $category_name: (
      display: flex,
      width: 100%,
      justify-content: center,
      text-align: center,
      margin: 0 0 25px 0,
      _subclasses: (
          '.title' : (
              font-size: 3rem,
              text-transform: capitalize,
              font-weight: 600,
          )
      )
  );

  @include mixins.generate-component(
          $category_name,
          'category_name',
          app.$config,
          app.$theme
  );
</style>

<style lang="scss">
  @use "sass:list";
  @use "sass:string";
  @use "sass:meta";
  @use "sass:map";

  @use "../../styles/app.scss" as app;

  @use "../../styles/scss/mixins.scss" as mixins;
  @use "../../styles/scss/functions.scss" as functions;

  $categories: (
      margin: 25px 0,
      _subclasses: (
          '.grid' : (
              display: grid,
              width: 100%,
              grid-template-columns: 1fr,
              grid-auto-rows: auto,
              grid-gap: 1rem,
              _responsive: (
                  md: (
                      grid-template-columns: 1.4fr 0.6fr,
                      grid-gap: 1rem,
                  ),
              ),
              _subclasses: (
                  '.posts' : (
                      _subclasses: (
                          '.post' : (
                              display: grid,
                              grid-template-columns: auto 1fr,
                              grid-gap: 1rem,
                              margin: 0 0 15px 0,
                              _subclasses: (
                                  '&:last-child' : (
                                      margin: 0,
                                  ),
                                  '.information' : (
                                      _subclasses: (
                                          '.title': (
                                              font-size: 2rem,
                                              line-height: 1.5rem,
                                              margin: 0 0 15px 0,
                                              display: inline-block,
                                          ),
                                          '.description': (
                                              display: flex,
                                              align-items: center,
                                              margin: 0 0 10px 0,
                                          ),
                                          '.date': (
                                              display: block,
                                              color: #878181,
                                          ),
                                      )
                                  )
                              )
                          ),
                      ),
                  ),
                  '.sidebar': (
                  )
              ),
          ),
      )
  );

  @include mixins.generate-component(
          $categories,
          'categories',
          app.$config,
          app.$theme
  );
</style>