---
import FormattedDate from '../../FormattedDate.astro'
import {Image} from 'astro:assets'
import {words_limit} from '~/utils/text'

const {posts} = Astro.props
const featured_post = posts.filter((post) => post.data.featured).at(0)
const posts_column_1 = posts.filter((post) => post.data?.composition?.news?.column === 1);
const posts_column_3 = posts.filter((post) => post.data?.composition?.news?.column === 3);
---
<section class="hot">
    <div class="container xxl">
        <div class="grid">
            <div class="one">
                {
                    posts_column_1.slice(0, 5).map((post, index) => {

                        switch (post.data?.composition?.news?.block) {
                            case 'big':
                                return (
                                        <div class="post big">
                                            <a href={`/${post.id.substring(5)}/`}
                                               class="link" title={post.data.title}>
                                                <Image
                                                        class="image"
                                                        width={370}
                                                        src={post.data.image.url}
                                                        alt={post.data.image.alt}
                                                />
                                            </a>
                                            <a href={`/${post.id.substring(5)}/`}
                                               class="link" title={post.data.title}>
                                                <span class="title">{post.data.title}</span>
                                            </a>
                                        </div>
                                );
                            case 'medium':
                                return (
                                        <div class="post medium">
                                            <a href={`/${post.id.substring(5)}/`}
                                               class="link" title={post.data.title}>
                                                <Image
                                                        class="image"
                                                        width={370}
                                                        src={post.data.image.url}
                                                        alt={post.data.image.alt}
                                                />
                                            </a>
                                            <a href={`/${post.id.substring(5)}/`}
                                               class="link" title={post.data.title}>
                                                <span class="title">{post.data.title}</span>
                                            </a>
                                        </div>
                                );
                            case 'small':
                                return (
                                        <div class="post short">
                                            <a href={`/${post.id.substring(5)}/`}
                                               class="link" title={post.data.title}>
                                                <span class="title">{post.data.short_description ?? post.data.title }</span>
                                            </a>
                                        </div>
                                );
                            default:
                                return (
                                        <div class="post">
                                            <a href={`/${post.id.substring(5)}/`}
                                               class="link" title={post.data.title}>
                                                <Image
                                                        class="image"
                                                        width={370}
                                                        src={post.data.image.url}
                                                        alt={post.data.image.alt}
                                                />
                                            </a>
                                            <a href={`/${post.id.substring(5)}/`}
                                               class="link" title={post.data.title}>
                                                <span class="title">{post.data.title}</span>
                                            </a>
                                        </div>
                                )
                        }
                    })
                }
            </div>
            <div class="two">
                <div class="featured">
                    <a href={`/${featured_post.id.substring(5)}/`} class="link"
                       title={featured_post.data.title}>
                        <span class="title">{featured_post.data.title}</span>
                    </a>
                    <a href={`/${featured_post.id.substring(5)}/`} class="link"
                       title={featured_post.data.title}>
                        <span class="image">
                            <Image src={featured_post.data.image.url}
                                   alt={'11'} class="image"/>
                            <span class="text">
                                <span class="category">{featured_post.data.category}</span>
                                <span class="date">
                                    <FormattedDate
                                            date={featured_post.data.published_date}/>
                                </span>
                            </span>
                        </span>
                    </a>
                </div>
            </div>
            <div class="three">
                {
                    posts_column_3.slice(0, 5).map((post, index) => {

                        switch (post.data?.composition?.news?.block) {
                            case 'big':
                                return (
                                        <div class="post big">
                                            <a href={`/${post.id.substring(5)}/`}
                                               class="link" title={post.data.title}>
                                                <Image
                                                        class="image"
                                                        width={370}
                                                        src={post.data.image.url}
                                                        alt={post.data.image.alt}
                                                />
                                            </a>
                                            <a href={`/${post.id.substring(5)}/`}
                                               class="link" title={post.data.title}>
                                                <span class="title">{post.data.title}</span>
                                            </a>
                                        </div>
                                );
                            case 'medium':
                                return (
                                        <div class="post medium">
                                            <a href={`/${post.id.substring(5)}/`}
                                               class="link" title={post.data.title}>
                                                <Image
                                                        class="image"
                                                        width={370}
                                                        src={post.data.image.url}
                                                        alt={post.data.image.alt}
                                                />
                                            </a>
                                            <a href={`/${post.id.substring(5)}/`}
                                               class="link" title={post.data.title}>
                                                <span class="title">{post.data.title}</span>
                                            </a>
                                        </div>
                                );
                            case 'small':
                                return (
                                        <div class="post short">
                                            <a href={`/${post.id.substring(5)}/`}
                                               class="link" title={post.data.title}>
                                                <span class="title">{post.data.title}</span>
                                            </a>
                                        </div>
                                );
                            default:
                                return (
                                        <div class="post">
                                            <a href={`/${post.id.substring(5)}/`}
                                               class="link" title={post.data.title}>
                                                <Image
                                                        class="image"
                                                        width={370}
                                                        src={post.data.image.url}
                                                        alt={post.data.image.alt}
                                                />
                                            </a>
                                            <a href={`/${post.id.substring(5)}/`}
                                               class="link" title={post.data.title}>
                                                <span class="title">{post.data.title}</span>
                                            </a>
                                        </div>
                                )
                        }
                    })
                }
            </div>
        </div>
    </div>
</section>

<style lang="scss">
  @use "sass:list";
  @use "sass:string";
  @use "sass:meta";
  @use "sass:map";

  @use "~/styles/app.scss" as app;

  @use "~/styles/scss/mixins.scss" as mixins;
  @use "~/styles/scss/functions.scss" as functions;

  // --- hot section --- //

  $hot-news-section-grid-column-1: (
    order: 2,
    _subclasses: (
      '.post' : (
        display: block,
        width: 100%,
        /*grid-template-columns: 1fr,*/
        /*grid-auto-rows: auto,*/
        /*grid-gap: 0,*/
        margin: 0 0 20px 0,
        padding: 0 0 10px 0,
        border-bottom: 1px solid rgba(255, 255, 255, 0.15),
        _subclasses: (
          /***/
          '&.big' : (

          ),
          '&.medium' : (
            display: grid,
            grid-template-columns: 140px 1fr,
            gap: 15px,
            _subclasses: (
                '.title' : (
                  font-size: 1rem,
                  font-weight: 400,
                  line-height: 1.25rem,
                )
            )
          ),
          '&.short' : (
            _subclasses: (
              '.title' : (
                font-size: 1rem,
                font-weight: 400,
                line-height: 1.25rem,
              )
            )
          ),
          '&:last-child' : (
            margin: 0,
            border-bottom: none,
          ),
          '.image' : (
            display: block,
            margin: 0 0 10px 0,
            border-radius: 0.5rem,
            box-shadow: string.unquote('rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.1) 0px 2px 4px -2px'),
          ),
          '.title': (
            font-size: 1.25rem,
            display: block,
            font-weight: 400,
            line-height: 1.25,
            _subclasses : (
              '&:hover' : (
                text-decoration: underline,
                text-underline-offset: 3px,
                text-decoration-thickness: 1px,
              ),
            )
          ),
          '.description': (
            display: block,
            margin: 0 0 10px 0,
          ),
          '.date' : (
            font-size: 0.825rem,
            color: #959595,
          )
        )
      )
    ),
    _responsive: (
      md: (
        order: 1,
      ),
    ),
  );

  $hot-news-section-grid-column-2: (
    order: 1,
    _subclasses: (
      /***/
      '.featured' : (
        /***/
        _subclasses: (
          /***/
          '.link' : (
            display: block,
            _subclasses: (
              /***/
              '&:hover' : (
                text-decoration: underline,
                text-underline-offset: 3px,
              ),
              '.title' : (
                font-size: 1.725rem,
                font-weight: 700,
                display: block,
                text-align: center,
                margin: 0 0 12px 0,
                line-height: 1.1,
              ),
              '.image' : (
                position: relative,
                display: block,
                border-radius: 0.5rem,
                box-shadow: string.unquote('rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.1) 0px 2px 4px -2px'),
                /*_subclasses: (*/
                /*  '.shadow' : (*/
                /*    position: absolute,*/
                /*    display: block,*/
                /*    left: 0,*/
                /*    top: 0,*/
                /*    width: 100%,*/
                /*    height: 100%,*/
                /*    background-image: string.unquote('linear-gradient(-180deg, rgba(0, 0, 0, 0.01) 0%, rgba(0, 0, 0, 0.62) 62%, rgba(0, 0, 0, 0.82) 82%, rgba(0, 0, 0, 0.86) 86%)'),*/
                /*  ),*/
                /*)*/
                _subclasses: (
                  '.text' : (
                    pointer-events: none,
                    position: absolute,
                    left: 10px,
                    bottom: 10px,
                    width: 100%,
                  )
                )
              ),
              /*'.text' : (*/
              /*  !*position: absolute,*!*/
              /*  !*bottom: 15px,*!*/
              /*  !*left: 15px,*!*/
              /*  width: 100%,*/
              /*  display: flex,*/
              /*  flex-direction: column,*/
              /*  gap: 10px,*/
              /*  !***!*/
              /*  _subclasses: (*/
              /*    '.category' : (*/
              /*      font-size: 0.825rem,*/
              /*      color: #8c602e,*/
              /*      font-weight: bold,*/
              /*      text-transform: capitalize,*/
              /*    ),*/
              /*    '.title' : (*/
              /*      font-size: 1.5rem,*/
              /*    ),*/
              /*    '.date' : (*/
              /*      font-size: 0.825rem,*/
              /*      color: #959595,*/
              /*    )*/
              /*  )*/
              /*),*/
            ),
          ),
        ),
      ),
    ),
  );

  $hot-news-section-grid-column-3: (
    order: 3,
    _responsive: (
      lg: (
        grid-area: auto,
      ),
    ),
    /***/
    _subclasses: (
      '.post' : (
        display: block,
        width: 100%,
        /*grid-template-columns: 1fr,*/
        /*grid-auto-rows: auto,*/
        /*grid-gap: 0,*/
        margin: 0 0 20px 0,
        padding: 0 0 10px 0,
        border-bottom: 1px solid rgba(255, 255, 255, 0.15),
        _subclasses: (
          /***/
          '&.big' : (

          ),
          '&.medium' : (
            display: grid,
            grid-template-columns: 130px 1fr,
            gap: 15px,
            _subclasses: (
              '.title' : (
                font-size: 1rem,
                font-weight: 400,
                line-height: 1.25rem,
              )
            )
          ),
          '&.short' : (

          ),
          '&:last-child' : (
            margin: 0,
            border-bottom: none,
          ),
          '.image' : (
            display: block,
            margin: 0 0 10px 0,
            border-radius: 0.5rem,
            box-shadow: string.unquote('rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.1) 0px 2px 4px -2px'),
          ),
          '.title': (
            font-size: 1.25rem,
            display: block,
            font-weight: 500,
            _subclasses : (
              '&:hover' : (
                text-decoration: underline,
                text-underline-offset: 3px,
                text-decoration-thickness: 1px,
              ),
            )
          ),
          '.description': (
            display: block,
            margin: 0 0 10px 0,
          ),
          '.date' : (
            font-size: 0.825rem,
            color: #959595,
          )
        )
      )
    ),
  );

  $hot-section: (
    margin: 25px 0,
    _subclasses: (
      /***/
      '> div > .grid': (
        /***/
        display: grid,
        width: 100%,
        grid-template-columns: 1fr,
        grid-auto-rows: auto,
        grid-template-rows: 1fr,
        grid-gap: 1rem,
        /***/
        _responsive: (
          md : (
            grid-template-columns: 1fr 1fr,
            grid-template-rows: 1fr,
          ),
          lg : (
            grid-template-columns: minmax(280px, 320px) 1fr minmax(280px, 320px)
          ),
          xl: (
            grid-template-columns: minmax(280px, 320px) 1fr minmax(280px, 320px)
          )
        ),
        /***/
        _subclasses: (
          /***/
          '.one' : $hot-news-section-grid-column-1,
          '.two' : $hot-news-section-grid-column-2,
          '.three' : $hot-news-section-grid-column-3,
        ),
      ),
    )
  );

  @include mixins.generate-component(
      $hot-section,
      'hot',
      app.$config,
      app.$theme
  );

</style>
